word2vec_20190801.model
word2vec_20190801.model.trainables.syn1neg.npy
word2vec_20190801.model.wv.vectors.npy
word2vec_en_20190801.model
word2vec_en_20190801.model.trainables.syn1neg.npy
word2vec_en_20190801.model.wv.vectors.npy

./crawler/tmark.xml
./crawler/tmark2.xml

crawler/tmark.xml

./crawler/Output/
./large_files/*
./crawler/pic/
./pic_features/data/*

crawler/deadline.txt

large_files/*
crawler/picBase/*
